body {
  background-color: rgba(45, 45, 45, 0.1);
}

h1 {
  text-transform: uppercase;
  margin-left: 10px;
}

#navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  font-size: 21px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
  background-color: #767676;
  text-transform: uppercase;
}

.imagen-de-perfil {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;	
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  display: block;
  margin: auto;
}

.encabezado-principal {
  padding-top: 15px;
  text-align: center;
  color: rgb(90, 100, 180);
  font-size: 24px;
  font-family: 'Times New Roman';
  text-transform: uppercase;
}

nav ul {
  top: 10px;
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

.un-list {
  color: black;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  font-size: 21px;
  font-family: 'Times New Roman';
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 6px;
  text-align: justify;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
  position: relative;
  top: 10px;
  left: 10px;   
}

.presentacion {
  color: black;
  font-size: 24px;
  font-family: 'Times New Roman';
  text-align: justify;
  font-weight: 400;
}

.un-list-dos {
  color: black;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  font-size: 21px;
  font-family: 'Times New Roman';
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 6px;
  text-align: justify;
  padding: 5px 20px 10px 25px;
  margin: 10px 10px 30px 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}

.barra {
  text-align: left;
}

#informacion {
  color: rgb(80, 180, 180);
  font-size: 24px;
  font-family: monospace;
  text-align: justify;
}

.list-dos {
  text-decoration: none;
} 

.descripcion-uno {
  color: black;
  font-size: 24px;
  font-family: 'Times New Roman';
  text-align: justify;
  font-weight: 300px;
}

.descripcion-dos {
  color: black;
  font-size: 24px;
  font-family: 'Times New Roman';
  text-align: justify;
  font-weight: 400;
}

#habilidades {
  color: rgb(80, 180, 180);
  font-size: 24px;
  font-family: monospace;
  text-align: justify;
}

.list-ord-1 {
  color: black;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  font-size: 21px;
  font-family: monospace;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 6px;
  text-align: justify;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}

#proyectos {
  color: rgb(80, 180, 180);
  font-family: monospace;
  font-size: 24px;
}

.tesis {
  color: rgb(80, 180, 180);
  font-size: 22px;
}

.img {
  max-width: 100%; /* This make an Image Responsive */ 
  height: auto; /* This make an Image Responsive */ 
}

.figcap {
  color: black;
  font-size: 21px;
}

#contact {
  color: rgb(80, 180, 180);
  font-size: 21px;
  font-family: monospace;
}

.ult-list {
  color: black;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  font-size: 21px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 6px;
  margin: 0px 5px 30px 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}

.sub {
  text-decoration: none;
}

.texto-incrustado {
  margin-bottom: -40px;
  font-size: 24px;
  text-align: center;	
}

.box {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  text-align: center;
  border-radius: 6px;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}

.black-box {
  bakcground-color: black;
  padding: 20px 40px 20px 40px; 
}

.caja-amarilla {
  background: repeating-linear-gradient(
    45deg,
    white 0px,
    white 40px,
    white 40px,
    white 80px
);
  margin: 20px 40px 20px 40px;
}

.caja-amarilla:hover {
  transform: scale(1.1);
}

.caja-azul {
  background: repeating-linear-gradient(
    45deg,
    white 0px,
    white 40px,
    white 40px,
    white 80px
);
  margin: 20px 40px 20px 40px;
}

.caja-azul:hover {
  transform: scale(1.1);
}

/* Attribute Selectors to Style Elements */

[type='submit'] {
  margin: 20px 0px 20px 0px;
}

.boton-inicio {
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  font-size: 24px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 20px 5px 20px;
  margin: 10px 0px 20px 0px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}

/* Agregar el HTML para este button */

button {
  background-color: black;
  color: white;
  border-radius: 6px;
  position: relative;
}

button:hover {
  animation-name: background-color;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes background-color {
  0% {
    background-color: yellow;
 }

  50% {
    background-color: blue;
 }

  100% {
    background-color: red;
 }

}

a {
  color: black;
}

a:hover {
  color: green;
}

footer {
  background-color: black;
  color: white;
  font-size: 21px;
  text-transform: capitalize;
  padding: 5px 20px 5px 20px;
}

.heart {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: pink;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: backdiv;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.heart:after {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
  
.heart:before {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes backdiv {
    50% {
      background: #ffe6f2;
    }
  }

  @keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }

/* Agregar un corazón o animación con las proiedades de animación en CSS <code>animation-iteration</code> @keyframes y otras */ 
