/* Inicio CSS */

body {
  background-color: rgba(45, 45, 45, 0.1);
}

.imagen-de-perfil {
  border-color: black;
  border-style: solid;
  border-width: 6px;
  border-radius: 50%;	
  align-item: center;
  display: block;
  margin: auto;
}

.encabezado-principal {
  text-align: center;
  color: rgb(90, 100, 180);
  font-size: 24px;
  font-family: 'Times New Roman';
  text-transform: uppercase;
}

.un-list {
  color: black;
  background-color: gray;
  font-size: 21px;
  font-family: 'Times New Roman';
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 6px;
  text-align: justify;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}

.presentacion {
  color: black;
  font-size: 24px;
  font-family: 'Times New Roman';
  text-align: justify;
  font-weight: 300;
}

.un-list-dos {
  color: black;
  background-color: gray;
  font-size: 21px;
  font-family: 'Times New Roman';
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 6px;
  text-align: justify;
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 30px 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}

.barra {
  text-align: left;
}

.list-dos {
  text-decoration: none;
 } 

#informacion {
  color: rgb(80, 180, 180);
  font-size: 24px;
  font-family: monospace;
  text-align: justify;
}

.descripcion-uno {
  color: black;
  font-size: 24px;
  font-family: 'Times New Roman';
  text-align: justify;
  font-weight: 200px;
}

.descripcion-dos {
  color: black;
  font-size: 24px;
  font-family: 'Times New Roman';
  text-align: justify;
  font-weight: 300;
}

#habilidades {
  color: rgb(80, 180, 180);
  font-size: 24px;
  font-family: monospace;
  text-align: justify;
}

.list-ord-1 {
  color: black;
  background-color: gray;
  font-size: 21px;
  font-family: monospace;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 6px;
  text-align: justify;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}

#proyectos {
  color: rgb(80, 180, 180);
  font-family: monospace;
  font-size: 24px;
}

.tesis {
  color: rgb(80, 180, 180);
  font-size: 22px;
}

#contacto {
  color: rgb(80, 180, 180);
  font-size: 21px;
  font-family: monospace;
}

.ult-list {
  color: black;
  background-color: gray;
  font-size: 21px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 6px;
  margin: 0px 5px 30px 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}

.sub {
  text-decoration: none;
}

.texto-incrustado {
   margin-bottom: -40px;
   font-size: 24px;
   text-align: center;	
}

.box {
   border-style: solid;
   border-width: 5px;
   border-color: black;
   text-align: center;
   border-radius: 6px;
   margin-right: 5px;
   margin-left: 5px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}

.black-box {
  background-color: black;
  padding: 20px 40px 20px 40px;   
}

.caja-amarilla {
  background-color: yellow;
  margin: 20px 40px 20px 40px;
}

.caja-azul {
  background-color: blue;
  margin: 20px 40px 20px 40px;
}

/* Attribute Selectors to Style Elements */

[type='submit'] {
  margin: 20px 0px 20px 0px;
}

.boton-inicio {
   font-size: 24px;
   text-align: center;
   border-style: solid;
   border-width: 5px;
   border-color: black;
   text-align: center;
   border-radius: 6px;
   padding: 5px 20px 5px 20px;
   margin: 10px 0px 20px 0px; 
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}
