.encabezado-principal {
	color: blue;
	font-size: 21px;
	font-family: monospace;
}


.un-list {
	color: black;
	font-size: 16px;
	font-family: 'Times New Roman'
}

.imagen-de-perfil {
  border-color: black;
  border-style: solid:
  border-width: 16px;
  border-radius: 50%;	
}

.presentacion {
	color: blue;
	font-size: 16px;
	font-family: 'Times New Roman'
}

.un-list-dos {
	color: black;
	font-size: 16px;
	font-family: 'Times New Roman'
	
}.informacion {
	color: blue;
	font-size: 21px;
	font-family: monospace;
}

.descripcion {
	color: clue;
	font-size: 21px;
	font-family: monospace;
}

h2 {
	color: blue-gradient;
	font-size: 22px;
}

.contacto {
	color: black;
	font-size: 21px;
	
}
